#mini-search {
    height: 50%;
}

#login-button {
    color: primary;
    width: 10%;
    height: 3.5%;
    font-size: 75%;
}

.header-wrapper {
    background-color: white;
    width: 100%;
}

.header-content {
    max-width: 50%;
    margin: auto;
    padding: 2vmin 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}